/node_modules
/public/hot
/public/storage
/storage/*.key
/Modules
/public/modules
/resources/sass/**/*.css
.env
*.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
semantic
*.bu.php
.phpunit.result.cache
_notes